@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'NanumSquare';
}

header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(209, 209, 209);
    box-shadow: 0px 0.1px 5px 0.1px rgba(153, 153, 153, 0.5);
}

.logo {
    padding-left: 30px;
}

.logo img {
    width: 340px;
    height: 106.25px;
}

.search {
    padding-left: 30px;
}

#search_box {
    width: 750px;
    height: 60px;
    font-size: 20px;
    padding-left: 15px;
    outline: none;
}

#search_btn {
    position: relative;
    top: 18px;
    padding-left: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.nav {
    width: 300px;
    padding-left: 30px;
}

.nav a {
    float: left;
    padding: 15px;
}

#user_img {
    position: relative;
    float: left;
    top: 13px;
    width: 20px;
    height: 20px;
}

#member_information {
    padding-left: 3px;
}

.welcome {
    font-size: 50px;
    font-weight: 900;
    padding: 50px 0px 0px 50px;
}