@charset "UTF-8";
@font-face {
    font-family: 'GoyangIlsan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'GoyangIlsan';
}

.wrapper {
    width: 1200px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}